<div class="form-group row">
 <label class="col-2">Name<span class="asterisk"> *</span></label>
 <div class="col-10">
   <input class="app-form form-control form-control-lg" type="text" name="exercise[name]" value="{{exercise.name}}">
</div>
</div>

<div class="form-group row">
 <label for="example-text-input" class="col-2">Weight per Set (lbs)<span class="asterisk"> *</span></label>
 <div class="col-10">
<div class="col-10">
<input class="app-form form-control form-control-lg" type="number" name="exercise[weight]" value="{{exercise.weight}}">
</div>
</div>
</div>

<div class="form-group row">
<label for="example-text-input" class="col-2"># of Sets<span class="asterisk"> *</span></label>
<div class="col-10">
<div class="col-10">
<input class="app-form form-control form-control-lg" type="number" name="exercise[sets]" value="{{exercise.sets}}">
</div>
</div>
</div>

<div class="form-group row">
<label for="example-text-input" class="col-2">Repetitions<span class="asterisk"> *</span></label>
<div class="col-10">
<div class="col-10">
<input class="app-form form-control form-control-lg" type="number" name="exercise[reps]" value="{{exercise.reps}}">
</div>
</div>
</div>

<div class="form-group row">
<label for="example-text-input" class="col-2">Notes</label>
<div class="col-10">
<div class="col-10">
<input class="app-form form-control form-control-lg" type="text" name="exercise[notes]" value="{{exercise.notes}}">
</div>
</div>
</div>
